.welcome{
	width: 100%;
    height: 40px;
    line-height: 40px;
	background-color: #FFF8F0;
}

.bg{
	background-color: #E93854;
	
}
#hb{
	background-color: #FFF8F0;
	font-size:12px;
	line-height:39px;
	text-align: center;
	color:darkgray;
}

.dr{
	color:darkgray;
}

.jh{
	background-color:white;
	font-size: 18px;
	line-height:55px;
	border:1px solid ;
	border-bottom-color:ghostwhite;
	border-top-color: ghostwhite;
	border-left-color:ghostwhite;
	border-right-color:ghostwhite;
	background-color: white;
}

#smdl{
	color: red;
	margin-left: 50px;
	font-weight: 700;
}

#zhdl{
	margin-left: 42px;
	color: gray;
}

#shux{
	margin-left: 42px;
	color:gainsboro;
}

.erweima{
	height: 210px;
	background-color: white;
}

#dakai{
	background-color: white;
	font-size:14px;
	text-align: center;
}

#momo{
	height:51px;
	background-color: white;
	font-size:14px;
	color:darkgray;
}

.nml{
	height:61px;
	background-color: white;
	
}

.ert{
	font-size:12px;
	margin-top: 25px;
	color:darkgray;
}
