.ddd{
	background-color: #F5F5F5;
	height:148px;
}

.qt{
	margin:0 auto;
	width:1390px;
}

#sf{
	font-size: 17px;
	color:#71b247;
	margin-top: 20px;
}

#f1{
	font-size: 14px;
	color:#000000;
}
#e3{
	font-size: 17px;
	width: 158px;
	height: 37px;
	background-color: white;
	color:#E4393C;
	text-align: center;
	line-height: 37px;
	margin-left: 380px;
	margin-top: 15px;
}
#e4{
	font-size: 17px;
	width: 158px;
	height: 37px;
	background-color:#E4393C;
	color:white;
	text-align: center;
	line-height: 37px;
	margin-left: 10px;
	margin-top: 15px;
}
 .s1{
 	margin:0 auto;
	width:1390px;
 }
#q2{
	font-weight:bold ;
	margin-top: 13px;
}
.r1{
	width:267px;
}
.t4{
	height: 36px;
    width: 160px;
    float: left;
    line-height: 18px;
    overflow: hidden;
    margin-bottom: 4px;
    color:#333;
    margin-left: 9px;
}
.d1{
    height: 19px;
    color:#E4393C;
    font-size:14px;
    margin-left: 9px;
}
.w1{
	width: 104px;
	height: 28px;
	border:1px solid;
	border-color: #DDDDDD;
	margin-top: 49px;
	margin-left: 9px;
	text-align: center;
	color: black;
}
.a1{
	width: 28px;
	height: 28px;
	border-radius: 14px;
	background: white;
	color: #E4393C;
	border:1px solid #E4393C;
	margin-left: 524px;
}
.a2{
	width: 28px;
	height: 28px;
	border-radius: 14px;
    background: #F5F5F5;
    border:0px;
    margin-left: 16px;
}
.a3{
	width: 28px;
	height: 28px;
	border-radius: 14px;
    background: #F5F5F5;
    border:0px;
    margin-left: 16px;
}
.a4{
	width: 28px;
	height: 28px;
	border-radius: 14px;
    background: #F5F5F5;
    border:0px;
    margin-left: 16px;
}
#qq{
	font-weight:bold ;
	
}
.c2{
	border:1px solid #F1F1F1;
	width: 286px;
	height: 281px;
}
#v1{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
#v2{
	text-align: center;
	color: #E4393C;
}
#m1{
	width: 52px;
	height: 52px;
}
#m2{
	width: 52px;
	height: 52px;
}

#m3{
	width: 52px;
	height: 52px;
}


