#shortcut {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #e3e4e5;
    border-bottom: solid 1px #ddd;
    }
.w {
    width: 1210px;
    margin: 0 auto;
}
.w{
	width: 990px;
	margin:0 auto;
}
.top_ul_left{
	float: left;
    	
    }
.top_ul_right{
   	float: right;
}
li{
	   float: left;
	   display: list-item;
    text-align: -webkit-match-parent;
}
	
ul{
	margin: 0;
    padding: 0;
    list-style: none;
}



div {
    display: block;
}
#service-2017 {
    padding-bottom: 18px;
    background: #eaeaea;
    overflow: hidden;
}
body {
    font: 12px/150% tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #666;
    background: #fff;
}


.root61 .w, .w1210 .w {
    width: 1210px;
}

.root61 #service-2017 .slogen {
    padding-left: 65px;
    margin-right: -23px;
}
#service-2017 .slogen {
    position: relative;
    height: 42px;
    padding: 30px 0 30px 55px;
    overflow: hidden;
}
ul, ol, dl, li, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}
#service-2017 .slogen .item {
    float: left;
    position: relative;
    width: 280px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-indent: 46px;
    color: #444;
}
#service-2017 .slogen .item i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 42px;
    text-indent: -9999px;
    background-image: url(//misc.360buyimg.com/jdf/1.0.0/unit/service/5.0.0/i/ico_service.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
em, i, u {
    font-style: normal;
}
#service-2017 .jd-help {
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
}
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
}
.root61 #service-2017 .wrap {
    padding-left: 65px;
    margin-right: -140px;
}
#service-2017 .wrap {
    padding: 20px 0 20px 55px;
    margin-right: -340px;
}

#service-2017 .jd-help dl {
    width: 255px;
    line-height: 22px;
}
#service-2017 dl {
    float: left;
}
#service-2017 dt {
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 14px;
    color: #777;
    height: 22px;
}
#service-2017 dd {
    font-size: 12px;
    color: #666;
    height: 22px;
    overflow: hidden;
}
dt {
    display: block;
}
.clear, .clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
#footer-2017 {
    padding-bottom: 30px;
    background: #eaeaea;
    text-align: center;
}
#footer-2017 .copyright_links p {
    font-size: 0;
}
#footer-2017 .copyright_links p a, #footer-2017 .copyright_links p span {
    font-size: 12px;
}
.root61 #footer-2017 .copyright_split, .w1190 #footer-2017 .copyright_split, .w1200 #footer-2017 .copyright_split {
    margin: 0 10px;
}
#footer-2017 .copyright_links p a, #footer-2017 .copyright_links p span {
    font-size: 12px;
}

#footer-2017 .copyright_split {
    margin: 0 6px;
    color: #ccc;
}
#footer-2017 .copyright_info {
    padding: 10px 0;
    line-height: 22px;
    color: #999;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a {
    text-decoration: none;
    color: #666666;
}

a:hover{color:#f30213}
 .root61 #service-2017 .wrap {
    padding-left: 65px;
    margin-right: -140px;
}
.root61 #service-2017 .wrap {
    padding-left: 65px;
    margin-right: -140px;
}
.w{
	width: 1210px;
	margin: 0 auto;
}
